@model List<AccesoDatos.Modelo.Productos>
<div class="row table">
    <div class="col-lg-1 bg-primary">Código</div>
    <div class="col-lg-1 bg-primary">Origen</div>
    <div class="col-lg-1 bg-primary">Descripción</div>
    <div class="col-lg-2 bg-primary">Observaciones</div>
    <div class="col-lg-1 bg-primary"># Serie</div>
    <div class="col-lg-1 bg-primary">Modelo</div>
    <div class="col-lg-1 bg-primary">Marca</div>
    <div class="col-lg-1 bg-primary">Costo</div>
    <div class="col-lg-1 bg-primary">Acción</div>
</div>

   @foreach(var producto in Model)
   {

   }