@model List<AccesoDatos.Modelo.TipoProductos>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-success">Listado Tipo Productos</h2>
<div class="well well-sm">
    @if (AccesoDatos.Commons.FrontUser.TienePermiso(AccesoDatos.Commons.RolesPermisos.Activo_Puede_Crear_Nuevo_Registro))
    {
        <a class="btn btn-primary" href="~/TipoProducto/Create">Nuevo</a>
    }
    </div>
<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Tipo de Producto</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th colspan="3">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objTipoProductos in Model)
        {
            <tr>
                <td>@objTipoProductos.idTipoProducto</td>
                <td>@objTipoProductos.CatalogoProductos.CatalogoProducto</td>
                <td>@objTipoProductos.TipoProducto</td>
                <td>@objTipoProductos.Descripcion</td>
                <td><a class="btn btn-success" href="~/TipoProducto/FindTipoProducto/@objTipoProductos.idTipoProducto"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td>
                    @if (AccesoDatos.Commons.FrontUser.TienePermiso(AccesoDatos.Commons.RolesPermisos.Activo_Puede_Editar_Registro))
                    {<a class="btn btn-info" href="~/TipoProducto/UpdateTipoProducto/@objTipoProductos.idTipoProducto"><span class="fa fa-edit"></span></a>
                    }
                    </td>
                <td>
                    @if (AccesoDatos.Commons.FrontUser.TienePermiso(AccesoDatos.Commons.RolesPermisos.Activo_Puede_Eliminar_Registro))
                    {
                        if (objTipoProductos.idTipoProducto > 0)
                        {                         
                            <a onclick="return confirm('Esta seguro de elimnar este registro?');" class="btn btn-danger" href="~/TipoProducto/DeleteTipoProducto/@objTipoProductos.idTipoProducto"><span class="fa fa-book"></span></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
